<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portfolio Rose Mulazada</title>
        <link rel="stylesheet" href="css/styles.css" />
    </head>
    <body>
        <main>
            <div class="cursor">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>

            <header>
                <p>ROSE MULAZADA</p>
                <section id="metadata">
                    <p>Amsterdam ✧ <span id="currentTime"></span></p>
                    <p id="availabilityStatus">
                        AVAILABLE FOR INTERNSHIP NOV '24
                    </p>
                    <p>rosemulazada16@gmail.com</p>
                </section>
            </header>
        </main>
        <script src="js/scripts.js"></script>
    </body>
</html>
