@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-stack: Inter, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

html {
    height: 100dvh;
    overflow: hidden;
}

body {
    min-height: 100%;
    font-family: var(--font-stack);
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*============================================
 *                 CODE START
 *============================================*/

p#availabilityStatus::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 4px;
    border-radius: 50%;
    background-color: green;
}

/* Source code trail cursor: https://www.youtube.com/watch?v=7eE8xPyXSR4 */
/* TODO: See what I can do with this.. */
main {
    height: 100dvh;
    position: relative;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    font-size: 0.75rem;
    &.default {
        flex-direction: row;
        > #metadata {
            flex-direction: row;
        }
    }

    .header_left__container {
        display: flex;
        #metadata {
            display: flex;
            flex-direction: column;
            text-align: right;
            width: max-content;
        }
        .hamburger_menu {
            justify-self: end;
            width: 25px;
            span {
                width: 100%;
                height: 2px;
                background: #141517;
                display: inline-block;
            }
        }
    }

    svg {
        justify-self: center;
    }
}

/* LOADING SCREEN */
#loading_screen {
    height: 100%;
    width: 200%;

    background-color: #141517;
    color: white;
    /* border-bottom-left-radius: 50%; */
    /* border-bottom-right-radius: 50%; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* INTRO */
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    pointer-events: none;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 9999999;

    .loader-imgs {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 50px;
        /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); */

        .img {
            position: relative;
            flex: 1;
            /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); */
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* LANDING PAGE: Name scroll */
.slider__container {
    position: absolute;
    top: calc(100dvh - 300px);

    .slider {
        position: relative;
        white-space: nowrap;
        display: flex;

        p {
            font-size: 240px;
            font-weight: 500;

            &::last-of-type {
                position: absolute;
                left: 100%;
            }
        }
    }
}
